# Entorno virtual
venv/

# IDE
.idea/

# Python cache
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd

# Entorno
.env

# Flask
instance/
.webassets-cache
migrations/

# Logs
*.log

# DB local
*.sqlite3

# Uploads (si no quieres versionarlos)
upload/

# Sistema
.DS_Store
Thumbs.db


