{% extends "base.html" %}
{% block content %}

<!-- ======= Blog Hero ======= -->
<section id="blog-hero" class="hero section dark-background">
  <img src="{{ url_for('static', filename='img/hero-bg01.jpg') }}" alt="" data-aos="fade-in">

  <div class="container d-flex flex-column align-items-center text-center">
    <h2 data-aos="fade-up" data-aos-delay="100">BLOG TÉCNICO</h2>
    <p data-aos="fade-up" data-aos-delay="200">
      Proyectos, laboratorios y notas sobre networking, Linux y backend
    </p>
  </div>
</section>

<!-- ======= Blog Section ======= -->
<section id="blog" class="blog section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Últimos Posts</h2>
    <p>Ideas, pruebas y arquitectura real aplicada</p>
  </div>

  <div class="container">
    <div class="row gy-4">
      {% for post in posts %}
      <div class="col-xl-4 col-md-6" data-aos="fade-up">
        <div class="card h-100 shadow-sm border-0">
          {% if post.cover_image %}
          <img src="{{ url_for('blog.uploaded_file', filename='img/'+post.cover_image) }}" class="card-img-top" alt="">
          {% endif %}
          <div class="card-body d-flex flex-column">

            <div class="mb-2 text-muted small">
              <i class="bi bi-calendar"></i> {{ post.created_at.strftime('%d %b %Y') }}
            </div>

            <h5 class="card-title">
              {{ post.title }}
            </h5>

            <p class="card-text">
              {{ post.summary }},<br> {{ post.cover_image }}
            </p>

            <a href="{{ url_for('blog.detail', slug=post.slug) }}" class="btn btn-outline-dark mt-auto">
              Leer más
            </a>

          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

</section>

{% endblock %}
